<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Career Profile</h2>
<div class="summary">
    <p>Je suis constamment attiré par le concret avec la soif d’apprendre chaque jour de nouvelles choses. Toutes les expériences acquises dans tous les domaines me permettent aujourd’hui avec le recul de mieux appréhender les choses afin d’aller toujours plus loin.</p>

	<p>“Je n'ai pas de talents particuliers. Je suis juste passionnément curieux.” Albert Einstein</p>
</div><!--//summary-->
</section><!--//section-->