 <div class="education-container container-block">
<h2 class="container-block-title">Education</h2>
<div class="item">
    <h4 class="degree">MSc in System Engineering</h4>
    <h5 class="meta">Henri Poincaré University Nancy 1</h5>
    <div class="time">2007 - 2009</div>
</div><!--//item-->
<div class="item">
    <h4 class="degree">BSc in Electronics</h4>
    <h5 class="meta">Henri Poincaré University Nancy 1</h5>
    <div class="time">2006 - 2007</div>
</div><!--//item-->
 <div class="item">
     <h4 class="degree">DUT in Electronics and Computer Science (GEII)</h4>
     <h5 class="meta">Henri Poincaré University Nancy 1</h5>
     <div class="time">2004 - 2006</div>
 </div><!--//item-->
</div><!--//education-container-->
