<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Full Stack Developer</h3>
                            <div class="time">2014 - Present</div>
                        </div><!--//upper-row-->
                        <div class="company">EVS Broadcast Equipment, Toulouse France</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>In an Agile team, I contribute to design a distributed architecture whose purpose is to ingest and process media files through a BPMN Process Engine (transform, transfer, analysis...).</p>


                        <!--<p>Environment: IntelliJ, Ubuntu, JIRA, Confluence, Jenkins, Nexus, Maven, Git, Grunt</p>-->


                        <ul class="tags">
                          <li><a target="_blank" href="http://www.java.com" class="tag">Java</a></li>
                          <li><a target="_blank" href="http://www.rabbitmq.com" class="tag">RabbitMQ</a></li>
                          <li><a target="_blank" href="http://www.mongodb.com" class="tag">MongoDB</a></li>
                          <li><a target="_blank" href="https://spring.io/" class="tag">Spring</a></li>
                          <li><a target="_blank" href="https://angularjs.org/" class="tag">AngularJS</a></li>
                          <li><a target="_blank" href="http://www.w3schools.com/html/html5_intro.asp" class="tag">HTML5</a></li>
                        </ul>
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Lead Developer</h3>
                            <div class="time">2012 - 2014</div>
                        </div><!--//upper-row-->
                        <div class="company">NéoSoft Services, Toulouse France</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Lead developer & SCRUM Master au sein d'une équipe de 7 personnes.</p>

                        <ul class="tags">
                          <li><a target="_blank" href="http://www.java.com" class="tag">Java</a></li>
                          <li><a target="_blank" href="https://angularjs.org/" class="tag">AngularJS</a></li>
                          <li><a target="_blank" href="https://spring.io/" class="tag">Spring</a></li>
                          <li><a target="_blank" href="http://www.mongodb.com" class="tag">MongoDB</a></li>
                          <li><a target="_blank" href="https://www.elastic.co/" class="tag">ElasticSearch</a></li>
                          <li><a target="_blank" href="#" class="tag">HTML5</a></li>
                        </ul>
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Iot Software Engineer</h3>
                            <div class="time">2010 - 2012</div>
                        </div><!--//upper-row-->
                        <div class="company">Sierra Wireless, Toulouse France</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Au sein d'une équipe de 20 personnes sous la responsabilité d'un
                           directeur de projets. Conception de solutions B2C (Business To Customer) permettant de superviser des objets communicants distants dans les domaines de la publicité, l’automobile, de l’énergie et des télécommunications.</p>

                        <ul class="tags">
                          <li><a target="_blank" href="#" class="tag">Java</a></li>
                          <li><a target="_blank" href="#" class="tag">RabbitMQ</a></li>
                          <li><a target="_blank" href="#" class="tag">Spring</a></li>
                          <li><a target="_blank" href="https://www.mysql.fr/" class="tag">MySQL</a></li>
                          <li><a target="_blank" href="https://jquery.com/" class="tag">JQuery</a></li>
                          <li><a target="_blank" href="http://hibernate.org/" class="tag">Hibernate</a></li>
                        </ul>

                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Software Engineer</h3>
                            <div class="time">2009</div>
                        </div><!--//upper-row-->
                        <div class="company">Photobox, Paris France</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Conception et développement de nouveaux composants pour les sites de la société dans le domaine de la photo numérique sur internet</p>

                        <ul class="tags">
                          <li><a target="_blank" href="#" class="tag">Java</a></li>
                          <li><a target="_blank" href="http://flex.apache.org/" class="tag">Adobe Flex</a></li>
                          <li><a target="_blank" href="#" class="tag">Spring</a></li>
                        </ul>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Software Engineer</h3>
                            <div class="time">2009</div>
                        </div><!--//upper-row-->
                        <div class="company">Intech, Luxembourg</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Migration d’un logiciel de gestion des risques, d’un client lourd (Java/Swing) vers un client léger (Java/Flex)</p>

                        <ul class="tags">
                          <li><a target="_blank" href="#" class="tag">Java</a></li>
                          <li><a target="_blank" href="#" class="tag">Adobe Flex</a></li>
                          <li><a target="_blank" href="#" class="tag">Spring</a></li>
                          <li><a target="_blank" href="#" class="tag">MySQL</a></li>
                        </ul>
                    </div><!--//details-->
                </div><!--//item-->
                
            </section><!--//section-->