<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>
                <div class="item">
                    <span class="project-title"><a href="#hook">Nextrun</a></span> Il s'agit d'un site qui permet de référencer
                    des parcours (vélo, trail, course à pieds...), de promouvoir des manifestations ou organiser des sorties entre amis.
                    <a href="www.nextrun.fr">nextrun.fr</a>
                    <span class="project-tagline"></span>

                    <ul class="tags">
                      <li><a href="#" class="tag">AngularJS</a></li>
                      <li><a href="#" class="tag">NodeJS</a></li>
                      <li><a href="#" class="tag">Google Maps API</a></li>
                      <li><a href="#" class="tag">MongoDB</a></li>
                    </ul>
                    
                </div><!--//item-->

                <div class="item">
                    <span class="project-title"><a href="#hook">Home automation</a></span> il s'agit de petits projets sous forme de tutoriaux
                    dans le domaine domotique sur la base de RaspBerry PI
                    <a href="http://jluccisano.github.io">jluccisano.github.io</a>
                    <span class="project-tagline"></span>

                    <ul class="tags">
                      <li><a href="#" class="tag">RaspBerry</a></li>
                      <li><a href="#" class="tag">Python</a></li>
                      <li><a href="#" class="tag">Java</a></li>
                      <li><a href="#" class="tag">HTML5</a></li>
                      <li><a href="#" class="tag">RabbitMQ</a></li>
                      <li><a href="#" class="tag">Docker</a></li>

                    </ul>
                    
                </div><!--//item-->

            </section><!--//section-->